@model MvcPaging.IPagedList<IAAITaiwanPractice240823.Models.Comment>
@{
    ViewBag.Title = "Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .respon {
        margin: 20px auto;
        display: inline-block;
        padding: 3px 8px;
        background: #b2b2b2;
        color: white;
        border-radius: 2px;
    }
</style>
<a class="respon" href="@Url.Action("NewPost","Membership")">張貼文章</a>
<table class="table table-striped career-table download-table">

    <thead>
        <tr>

            <th><span class="text-left">標題</span></th>
            <th>發表人</th>
            <th>最新回覆人</th>
            <th>回覆數</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td><span class="text-left"><a href="@Url.Action("Post", "Membership", new {id=item.Id, page=1})">@item.Title</a></span></td>
                <td>@item.PostedBy.Name <br />@item.CreateTime.ToString("yyyy/MM/dd")</td>
                @{
                    var lastReply = item.Replies.LastOrDefault();
                }

                <td>
                    @if (lastReply != null)
                    {

                        <text>
                            @lastReply.ReplyBy.Name <br />
                            @lastReply.CreateTime.ToString("yyyy/MM/dd")
                        </text>
                    }
                    else
                    {
                        <text>暫無回覆</text>
                    }
                </td>

                <td>
                    @if (lastReply != null)
                    {
                        @item.Replies.Count();
                    }
                    else
                    {
                        <text>0</text>
                    }
                </td>
            </tr>
        }
        @*<tr>

                <td><span class="text-left"><a href="/Download/Details/4">可不可以用動畫</a></span></td>
                <td>余子廉 <br />11/14/2016</td>
                <td>
                    李庭昀                                                 <br />
                    2023/09/25
                </td>
                <td>
                    1
                </td>
            </tr>
            <tr>

                <td><span class="text-left"><a href="/Download/Details/3">關於協會網路業務的部分提案</a></span></td>
                <td>余子廉 <br />11/14/2016</td>
                <td>
                    余子廉                                                 <br />
                    2016/11/14
                </td>
                <td>
                    1
                </td>
            </tr>*@
    </tbody>
</table>

@*<div class="paging text-center">
        <div class="pagination">

            <span class="disabled">«</span><span class="current">1</span><span class="disabled">»</span>
        </div>
    </div>*@

<div class="paging text-center">
    <ul class="pagination">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </ul>
</div>