@model IAAITaiwanPractice240823.Models.ViewModel.CommentRepliesVM
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .entry-header {
        background: #3c73b0;
        color: white;
        padding: 10px 30px;
    }

        .entry-header .entry-title {
            color: white;
        }

    .entry-title {
    }

    .post-meta-date {
    }

    .post-content {
        border: whitesmoke 1px solid;
        margin-bottom: 20px;
        box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
    }

    .entry-content {
    }

    .post {
        border: whitesmoke 1px solid;
        padding: 0;
    }

    .postInfo {
        padding: 10px 20px;
        background: #eee;
        text-align: right;
    }

    .respon {
        margin: 20px auto;
        display: inline-block;
        padding: 3px 8px;
        background: #b2b2b2;
        color: white;
        border-radius: 2px;
    }

    .post-body {
        background: #FCFCFC;
        padding: 30px;
        box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
    }

    .clear {
        clear: both;
    }

    .postMan {
        font-size: 16px;
    }
</style>
<div class="post-content">
    <div class="entry-header">
        <h2 class="entry-title">
            @Model.Comment.Title
        </h2>
        <span class="postMan"> 發表人:@Model.Comment.PostedBy.Name</span>
    </div><!-- header end -->
    <div class="postInfo">
        <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @Model.Comment.CreateTime.ToString("yyyy/MM/dd")</span>
    </div>
    <div class="post-body">
        <div class="entry-content topmargin-min">
            <p>@Html.Raw(Model.Comment.Content)</p>
        </div>
        <div class="tags-area clearfix">
        </div>
    </div>
</div><!-- post-body end -->

<a class="respon" href="@Url.Action("Reply", "Membership", new {id=Model.Comment.Id})">回應文章</a>
<div class="clear"></div>

@if (Model.Replies != null && Model.Replies.Count() > 0)
{
    foreach (var item in Model.Replies)
    {
        <div class="post">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="entry-header">
                        <div class="post-media post-image postMan">
                            回應:@item.ReplyBy.Name
                        </div>
                    </div>
                    <div class="postInfo">
                        <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @item.CreateTime.ToString("yyyy/MM/dd")</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="post-body">

                        <p><p><em>@Html.Raw(item.Content)</em></p></p>
                    </div>
                    <!-- post-body end -->
                </div>
            </div>
        </div>
    }
}

@if (Model.Replies != null)
{
    <div class="paging text-center">
        <ul class="pagination">
            @Html.Pager(Model.Replies.PageSize, Model.Replies.PageNumber, Model.Replies.TotalItemCount)
        </ul>
    </div>
}

@*<div class="post-footer  pull-left">
        <a onclick="history.back()" onKeyPress="history.back()" class="btn btn-primary">返回列表</a>
    </div>*@

<div class="post-footer  pull-left">
    <a href="@Url.Action("Board","Membership")" class="btn btn-primary">返回列表</a>
</div>